<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NutriFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="NutriFlow.Properties.Settings.masterConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=master;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <NutriFlow.Properties.Settings>
            <setting name="connectionGabriela" serializeAs="String">
                <value>Server=localhost\SQLEXPRESS;Database=NUTRIFLOW;Trusted_Connection=True;</value>
            </setting>
            <setting name="ConnectionLucca" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnectionMatheus" serializeAs="String">
                <value>0</value>
            </setting>
        </NutriFlow.Properties.Settings>
    </applicationSettings>
</configuration>